<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1><center>MATCOM Search Engine</center></h1>
        <form class="example" method="post" action="" 
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search keywords to query corpus" name="search">
            <button type="submit">Search<i class="fa fa-search"></i>
            </button>
        </form>
        <p></p>
        <center>
        {% for item in results %}
            <tr>
                <td> {{item}}</td>
                </br>
            </tr>
        {% endfor %}
        </center>
    </body>
</html>